.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#chart-container {
  margin-top: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nav-tabs {
  justify-content: center;
}

